.container{
    width: 40% !important;
    margin-top: 50px;
    background-color: #012727d7;
    border: none;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2{
    color: white;
    text-align: center;
}
.form-group{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 20px;
    width: auto;
}
ul{
    padding: 0 !important;
}
li{
    list-style-type: none;
    max-width: 583px;
    min-width: 200px;
    min-height: 40px;
    border-radius: 10px;
    text-align: left;
    overflow: auto;
    font-weight: 200;
    display: flex;
}
.InputBox{
    border: 1px solid #012727d7;
    border-radius: 5px;
    height: 48px;
    width: 87%;
}
.AddButton{
    border: none;
    margin-left: 10px;
    height: 48px;
    margin-top: -5px;
    border:2px solid #012727d7 !important;
}
.Icons{
    height: inherit;
    margin: 0 5px;
    flex: 1;
    display: flex;
    justify-content: end;
    align-items: center;
}
.icon{
    margin: 4px;
    font-size: 15px;
}
#list-item{
    text-decoration: line-through;
    opacity: 0.3;
}